body {
    background-color: #2A313E;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #2A313E;
    border-bottom: 1px solid #222732;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.content {
    margin: 0 5% 0;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
}

.block-container {
    display: flex;
    align-items: center; /* Выравнивание по центру */
}

.text-container {
    flex: 1; /* Занимает всю доступную ширину */
}

.container {
    width: 72vw;
    background-color: #303744;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px; /* Отступ между блоками */
}

.text-box {
    padding: 3vh 4vh;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
}

.button-box {
    padding: 1.5vh 2vh;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

.button {
    margin: 2% 20% 2% 2%;
    color: #FFFFFF;
    background-color: #2A2C31;
    padding: 1% 2%;
    border: 1px solid #2E343E;
    border-radius: 50px;
    font-size: 80%;
    float: right;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

.pink {
    color: #FF77F1;
}

.green {
    color: #D3FF77;
}

.cyan {
    color: #7CE8E2;
}

.gray {
    color: #FFFFFF60;
    font-family: "PT Mono", serif;
    word-wrap: break-word;
    word-break: break-all;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

.input-field {
    padding: 2%;
    border: 1px solid #2E343E;
    background-color: #2E343E;
    border-radius: 50px;
    font-size: 80%;
    color: #FFFFFF;
}

.button-upr {
    font-size: 100%;
    font-family: "PT Mono", serif;
    margin: 1% 3%;
    border: 1px solid white;
    border-radius: 25%;
}

.upr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
